@media  (max-width: 800px) {
    div.container {
        background-color: black;
        display: flex;
        flex-direction: column;
        height: 80vh;
        width: 50vh;
        border: solid .2em antiquewhite;
        border-radius: 4%;
        padding: 20px;
    }
}